.answers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 6px;
    box-sizing: border-box;

}

.answer {
    color: #ffffff;
    width: 85px;
    height: 37px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto 3px;
    text-align: center;
}

.no {
    background: #FF3030;
}

.almost {
    background: #FF922E;
}

.yes {
    background: #2FBE34;
}