body {
  background: #fb6b6b;
  height: 100vh;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

h1 {
  color: #ffffff;
  font-family: Righteous;
  font-weight: 400;
  font-size: 36px;
}

img {
  width: 136px;
  height: 161px;
}

.button {
  width: 246px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d70900;
  font-family: Recursive;
  font-weight: 400;
  font-size: 18px;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}
